params {
    runtime_bin_dir = "${projectDir}/runtime/talos2_env/bin"

    publish_family_vcfs = false
    flush_published_family_vcfs = false

    common_dbsnp_enabled = true
    common_dbsnp_vcf = "${projectDir}/../../../resources/20260518_common_resource.vcf.gz"

    spliceai_enabled = true
    spliceai_vcf = "${projectDir}/../../../resources/spliceai_scores_KGA_AUH_GRCh_38_Homo_sapiens_converted.vcf.gz"
}
