params {
    department = 'KGA'
    samplelist_xlsx = null
    sample_manifest = null
    pedigree = null
    mapping_roots = null
    runtime_bin_dir = null
    tool_bin_dir = null
    publish_family_vcfs = false
    flush_published_family_vcfs = false
    common_dbsnp_enabled = false
    common_dbsnp_vcf = null
    spliceai_enabled = false
    spliceai_vcf = null
}

process {
    executor = 'local'
    cpus = 2
    memory = 8.GB
    errorStrategy = 'terminate'
    beforeScript = (params.runtime_bin_dir ?: params.tool_bin_dir) ? "export PATH=\"${params.runtime_bin_dir ?: params.tool_bin_dir}:\$PATH\"" : ''
}
